<h2 class="center"><i class="fa fa-home"></i> Home</h2>

<div class="row top-buffer">
  <div class="col-md-12">

    <div class="row top-buffer-large">

      <div class="col-md-4">
        <%= render partial: "common/status_icon", locals: { colour: "blue", glyph_class: "fa fa-play", large_text: 'Iucunditate', small_text: "Puerilis, dixissem legerint sapienter."} %>
      </div>

      <div class="col-md-4">
        <%= render partial: "common/status_icon", locals: { colour: "orange", glyph_class: "fa fa-line-chart", large_text: "Congressus", small_text: "Solum disseretur maximisque efficeretur."} %>
      </div>

      <div class="col-md-4">
        <%= render partial: "common/status_icon", locals: { colour: "green", glyph_class: "fa fa-pie-chart", large_text: 'Sit Velint', small_text: "Fames detracta motu manu."} %>
      </div>

    </div>

    <div class="row top-buffer">

      <div class="col-md-4">
        <%= render partial: "common/status_icon", locals: { colour: "pink", glyph_class: "fa fa-lock", large_text: "Suis amoris", small_text: "Venustate adest conspiratione inclusae."} %>
      </div>

      <div class="col-md-4">
        <%= render partial: "common/status_icon", locals: { colour: "brown", glyph_class: "fa fa-location-arrow", large_text: "Infantes", small_text: "Quoniam mediocris labore reprimique."} %>
      </div>

      <div class="col-md-4">
        <%= render partial: "common/status_icon", locals: { colour: "cyan", glyph_class: "fa fa-tasks", large_text: "Eruditi fruitur occulte", small_text: "Movere existimavit vult optimi."} %>
      </div>

    </div>




  </div>
</div>